name: Check queries
# using
# - the installed version on actions
# - the latest postgis version

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest


    strategy:
        fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: get postgres version
        run: |
          sudo service postgresql start
          PGVER=$(psql --version | grep -Po '(?<=psql \(PostgreSQL\) )[^;]+(?=\.\d \()')
          echo "PGVER=${PGVER}" >> $GITHUB_ENV
          echo "PGPORT=5432" >> $GITHUB_ENV
          echo "PGIS=3" >> $GITHUB_ENV
          echo "VROOMVER=1.12.0" >> $GITHUB_ENV

      - name: Add PostgreSQL APT repository
        run: |
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ \
            $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libboost-graph-dev \
            libtap-parser-sourcehandler-pgtap-perl \
            postgresql-${PGVER} \
            postgresql-${PGVER}-pgtap \
            postgresql-${PGVER}-postgis-${PGIS} \
            postgresql-${PGVER}-postgis-${PGIS}-scripts \
            postgresql-${PGVER}-pgrouting \
            postgresql-server-dev-${PGVER}

      - name: Install VROOM dependencies
        run: |
          sudo apt-get install libssl-dev libasio-dev libglpk-dev

      - name: Cache VROOM
        id: cache-vroom
        uses: actions/cache@v2
        env:
          cache-name: vroom
        with:
          path: |
            ~/vroom-${{ env.VROOMVER }}
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.VROOMVER }}

      - name: Build VROOM
        if: steps.cache-vroom.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 --branch v${{ env.VROOMVER }} https://github.com/VROOM-Project/vroom ~/vroom-${{ env.VROOMVER }}

          # init the required submodules
          cd ~/vroom-${{ env.VROOMVER }}/
          git submodule update --init

          # Using "shared" target for creating Position Independent Code, disabling use of routing
          cd ~/vroom-${{ env.VROOMVER }}/src
          USE_ROUTING=false make shared

      - name: Configure
        run: |
          export PATH=/usr/lib/postgresql/${PGVER}/bin:$PATH
          mkdir build
          cd build
          cmake -DPOSTGRESQL_VERSION=${PGVER} -DCMAKE_BUILD_TYPE=Debug -DVROOM_INSTALL_PATH=$HOME/vroom-${{ env.VROOMVER }} ..

      - name: Build
        run: |
          cd build
          make -j 4
          sudo make install

      - name: Test signature is up to date
        run: |
          sudo service postgresql start
          sudo -u postgres createdb -p ${PGPORT}  ____sigs_routing____
          sudo -u postgres psql -p ${PGPORT} -c "CREATE ROLE runner SUPERUSER CREATEDB CREATEROLE INHERIT LOGIN" -d ____sigs_routing____
          tools/scripts/get_signatures.sh -p ${PGPORT}
          git diff --exit-code --quiet sql/sigs/*.sig

      - name: Unpack data
        run: |
          cd tools/testers
          tar -xf matrix_new_values.tar.gz

      - name: Test documentation queries are up to date
        run: |
          sudo -u postgres createdb -p ${PGPORT}  ___vrp___test___

          TESTDIRS="version"
          for d in ${TESTDIRS}
          do
            ./tools/testers/doc_queries_generator.pl -pgport "${PGPORT}" -documentation -alg "${d}"
          done

          ./tools/testers/doc_queries_generator.pl -pgport "${PGPORT}"
