name: Check Documentation
# documentation is tested only on:
# - ubuntu-latest
# - default postgres installed on ubuntu-latest
# - postgis 3
# The corresponding language based on the PR commit message:
# - links
# - build Links
# - English is always tested

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
        fail-fast: false
        matrix:
          language: [en]

    env:
        LANG_MSG: "in${{ matrix.language }}"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Get commit message
        run: |
           PROCESS=${{ false }}
           if [[ $(git log --format=%B -n 2 | tr -d "'" | tr -d " " | grep -Po '(?<=\.po)[^;]+') == *"${LANG_MSG}"* ]]; then
             PROCESS=${{ true }}
           fi
           if [[ "${{ matrix.language }}" == "en" ]]; then
             PROCESS=${{ true }}
           fi
           echo "PROCESS=${PROCESS}" >> $GITHUB_ENV
           echo "VROOMVER=1.12.0" >> $GITHUB_ENV

      - name: Get postgres version
        if: env.PROCESS == 'true'
        run: |
          sudo service postgresql start
          pgver=$(psql --version | grep -Po '(?<=psql \(PostgreSQL\) )[^;]+(?=\.\d \()')
          echo "PGVER=${pgver}" >> $GITHUB_ENV
          echo "PGIS=3" >> $GITHUB_ENV

      - name: Add PostgreSQL APT repository
        if: env.PROCESS == 'true'
        run: |
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ \
            $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

      - name: Install python
        if: env.PROCESS == 'true'
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        if: env.PROCESS == 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libboost-graph-dev \
            postgresql-${PGVER} \
            postgresql-${PGVER}-postgis-${PGIS} \
            postgresql-${PGVER}-postgis-${PGIS}-scripts \
            postgresql-server-dev-${PGVER} \
            graphviz
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip list

      - name: Install VROOM dependencies
        run: |
          sudo apt-get install libssl-dev libasio-dev libglpk-dev

      - name: Cache VROOM
        id: cache-vroom
        uses: actions/cache@v2
        env:
          cache-name: vroom
        with:
          path: |
            ~/vroom-${{ env.VROOMVER }}
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.VROOMVER }}

      - name: Build VROOM
        if: steps.cache-vroom.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 --branch v${{ env.VROOMVER }} https://github.com/VROOM-Project/vroom ~/vroom-${{ env.VROOMVER }}

          # init the required submodules
          cd ~/vroom-${{ env.VROOMVER }}/
          git submodule update --init

          # Using "shared" target for creating Position Independent Code, disabling use of routing
          cd ~/vroom-${{ env.VROOMVER }}/src
          USE_ROUTING=false make shared

      - name: Configure
        if: env.PROCESS == 'true'
        run: |
          export PATH=/usr/lib/postgresql/${PGVER}/bin:$PATH
          mkdir build
          cd build
          cmake -DLINKCHECK=ON -DHTML=ON -DWITH_DOC=ON \
                -DDE=ON -DES=ON -DFR=ON -DJA=ON -DIT=ON \
                -DPOSTGRESQL_VERSION=${PGVER} -DCMAKE_BUILD_TYPE=Release \
                -DVROOM_INSTALL_PATH=$HOME/vroom-${{ env.VROOMVER }} ..

      - name: Check Links
        if: env.PROCESS == 'true'
        run: |
          cd build
          make linkcheck-${{ matrix.language }}

      - name: Check Documentation
        if: env.PROCESS == 'true'
        run: |
          cd build
          make html-${{ matrix.language }}
