name: Update Locale and Website

on:
  workflow_dispatch:

jobs:
  release:
    name: Update Locale and Website
    runs-on: ubuntu-latest

    strategy:
        fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get postgres version
        run: |
          sudo service postgresql start
          PGVER=$(psql --version | grep -Po '(?<=psql \(PostgreSQL\) )[^;]+(?=\.\d \()')
          PROJECT_VERSION=$(grep -Po '(?<=project\(VRPROUTING VERSION )[^;]+' CMakeLists.txt)
          echo "PGVER=${PGVER}" >> $GITHUB_ENV
          echo "PGPORT=5432" >> $GITHUB_ENV
          echo "PGIS=3" >> $GITHUB_ENV
          echo "PROJECT_VERSION=${PROJECT_VERSION}" >> $GITHUB_ENV
          echo "VROOMVER=1.12.0" >> $GITHUB_ENV

      - name: Extract branch name and commit hash
        run: |
          branch=${GITHUB_REF#refs/heads/}
          echo "BRANCH=$branch" >> $GITHUB_ENV
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          echo "GIT_HASH=$git_hash" >> $GITHUB_ENV

      - name: Add PostgreSQL APT repository
        run: |
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ \
            $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libboost-graph-dev \
            postgresql-${PGVER} \
            postgresql-${PGVER}-postgis-${PGIS} \
            postgresql-${PGVER}-postgis-${PGIS}-scripts \
            postgresql-server-dev-${PGVER} \
            graphviz \
            doxygen
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install sphinx-intl[transifex]
          pip list

      - name: Install VROOM dependencies
        run: |
          sudo apt-get install libssl-dev libasio-dev libglpk-dev

      - name: Cache VROOM
        id: cache-vroom
        uses: actions/cache@v2
        env:
          cache-name: vroom
        with:
          path: |
            ~/vroom-${{ env.VROOMVER }}
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.VROOMVER }}

      - name: Build VROOM
        if: steps.cache-vroom.outputs.cache-hit != 'true'
        run: |
          git clone --depth 1 --branch v${{ env.VROOMVER }} https://github.com/VROOM-Project/vroom ~/vroom-${{ env.VROOMVER }}

          # init the required submodules
          cd ~/vroom-${{ env.VROOMVER }}/
          git submodule update --init

          # Using "shared" target for creating Position Independent Code, disabling use of routing
          cd ~/vroom-${{ env.VROOMVER }}/src
          USE_ROUTING=false make shared

      - name: Configure
        run: |
          export PATH=/usr/lib/postgresql/${PGVER}/bin:$PATH
          mkdir build
          cd build
          cmake -DPOSTGRESQL_VERSION=${PGVER} -DDOC_USE_BOOTSTRAP=ON -DWITH_DOC=ON -DBUILD_DOXY=ON -DCMAKE_BUILD_TYPE=Release -DLOCALE=ON -DES=ON -DVROOM_INSTALL_PATH=$HOME/vroom-${{ env.VROOMVER }} ..

      - name: Build
        run: |
          cd build
          if [[ "${{ env.BRANCH }}" == "develop" ]]; then
            make locale
          fi
          make doc
          make doxy

      - name: Initialize mandatory git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Update locale
        if: github.ref == 'refs/heads/develop'
        run: |
          # List all the files that needs to be committed in build/doc/locale_changes.txt
          awk '/^Update|^Create/{print $2}' build/doc/locale_changes.txt > tmp && mv tmp build/doc/locale_changes.txt        # .po files
          cat build/doc/locale_changes.txt | perl -pe 's/(.*)en\/LC_MESSAGES(.*)/$1pot$2t/' >> build/doc/locale_changes.txt  # .pot files
          cat build/doc/locale_changes.txt
          # Remove obsolete entries #~ from .po files
          tools/transifex/remove_obsolete_entries.sh
          # Add the files, commit and push
          for line in `cat build/doc/locale_changes.txt`; do git add "$line"; done
          git diff --staged --quiet || git commit -m "Update locale: commit ${{ env.GIT_HASH }}"
          git fetch origin
          git reset --hard  # Remove the unstaged changes before rebasing
          git rebase origin/develop
          git push origin develop

      - name: Update Users Documentation
        run: |
          if [[ "${{ env.BRANCH }}" == "main" ]]; then
            FOLDER_NAME="main"
          elif [[ "${{ env.BRANCH }}" == "develop" ]]; then
            FOLDER_NAME="dev"
          fi
          git checkout origin/gh-pages
          git checkout -b gh-pages
          rm -rf ${FOLDER_NAME}
          cp -r build/doc/html ${FOLDER_NAME}
          git add ${FOLDER_NAME}
          git diff-index --quiet HEAD || git commit -m "Update users documentation for ${PROJECT_VERSION} (${{ env.BRANCH }}): commit ${{ env.GIT_HASH }}"
          git fetch origin
          git rebase origin/gh-pages
          git push origin gh-pages
          git checkout @{-2}

      - name: Update Developers Documentation
        run: |
          if [[ "${{ env.BRANCH }}" == "main" ]]; then
            FOLDER_NAME="main"
          elif [[ "${{ env.BRANCH }}" == "develop" ]]; then
            FOLDER_NAME="dev"
          fi
          git checkout gh-pages
          rm -rf doxy/${FOLDER_NAME}
          cp -r build/doxygen/html doxy/${FOLDER_NAME}
          git add doxy/${FOLDER_NAME}
          git diff-index --quiet HEAD || git commit -m "Update developers documentation for ${PROJECT_VERSION} (${{ env.BRANCH }}): commit ${{ env.GIT_HASH }}"
          git fetch origin
          git rebase origin/gh-pages
          git push origin gh-pages
          git checkout @{-1}

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
